*{
    margin: 0;
    padding: 0;
}

body{
    color:grey;
    font-family: sans-serif;
    padding: 10px;
}

header{
    text-align: center;
}

p{
    margin:10px 0px;
}

span{
    background-color: gray;
    color: white;
    padding: 3px;
    border: 1px black solid;
    border-radius: 5px;
}

div{
    border: 10px solid green;
    padding: 5px;
    margin: 2%;
    border-radius: 5px;
}
section{
    display: flex;
    justify-content: center;
}
img{
    width: 200px;
}
main{
    margin-top: 10px;

}
